@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* ROOT */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2 {
  font-size: 80px !important;
  color: rgb(10, 30, 85) !important;
  font-family: "Great Vibes", cursive;
  margin-bottom: 80px !important;
}

a {
  color: white;
  text-decoration: none !important;
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 90% !important;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .background-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .text, .image {
    flex: 1;
  }
}

/* HEADER */

header {
  font-family: "Monsterrat", sans-serif;
  font-size: 18px;
}
header .banner-wrapper {
  position: absolute;
}
@media screen and (min-width: 2560px) {
  header .banner-wrapper{
    min-width: 2560px;
  }
  
} 
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
header .banner-wrapper img {
  width: 100%;
  display: block;
}
@media (max-width: 430px) {
  header .banner-wrapper img {
    max-width: 100%;
    height: 800px;
  }
}
@media (max-width: 868px) {
  header .banner-wrapper img {
    width: 100%;
    height: 800px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  header .banner-wrapper img {
    max-width: 100%;
  }
}
header .banner-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  opacity: 74%;
}
header nav .container {
  z-index: 999999;
  margin-top: 15px;
}
header nav .container img {
  width: 126px;
  height: 78px;
  opacity: 100%;
}


/*  HERO  */

.hero {
  z-index: 9999;
  position: relative;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media (max-width: 430px) {
  .hero {
    margin-top: 20%;
  }
}
@media (max-width: 868px) {
  .hero {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .hero {
    margin-top: 20%;
  }
}
.hero .text-container {
  max-width: 1010px;
  text-align: center;
  color: white;
}
.hero .text-container h1 {
  font-family: "Great Vibes", cursive;
  font-size: 89px;
}
@media (max-width: 430px) {
  .hero .text-container h1 {
    font-size: 60px;
  }
}
.hero .text-container p {
  font-size: 22px;
  font-family: "Monsterrat", sans-serif;
}

/* Welcome Pocetna */

.welcome {
  max-width: 1600px;
  margin: 30% auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media (max-width: 430px) {
  .welcome {
    margin-top: 120% !important;
    max-width: 100%;
    padding: 11%;
  }
}
@media (max-width: 868px) {
  .welcome {
    margin: 50% auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .welcome {
    margin: 30% auto;
  }
}
@media (max-width: 430px) {
  .welcome .row {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  .welcome .row {
    max-width: 100%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .welcome .row {
    max-width: 100%;
  }
}
.welcome .row .slike {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  left: 30px;
}
@media (max-width: 430px) {
  .welcome .row .slike {
    margin: 0;
    max-width: 100%;
    position: relative;
    left: -10px;
  }
}
@media (max-width: 868px) {
  .welcome .row .slike {
    margin: 0;
    max-width: 100%;
    position: relative;
    left: -20px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .welcome .row .slike {
    margin: 0;
    max-width: 100%;
    position: relative;
    left: -20px;
  }
}
@media (max-width: 430px) {
  .welcome .row .slike .slika1 {
    margin: 0;
    max-width: 100%;
    position: relative;
    left: -25px;
  }
}
.welcome .row .slike .slika2 {
  position: relative;
  left: 20px;
  top: 80px;
}
@media (max-width: 430px) {
  .welcome .row .slike .slika2 {
    margin-bottom: 150px;
    max-width: 100%;
    position: relative;
    left: -25px;
  }
}
@media (max-width: 868px) {
  .welcome .row .slike .slika2 {
    margin-bottom: 150px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .welcome .row .slike .slika2 {
    margin-left: -12px;
    max-width: 100%;
  }
}
.welcome .row .txt {
  position: relative;
  right: 40px;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .welcome .row .txt h2 {
    text-align: center;
    margin-left: 65px;
    position: absolute;
    top: -1400px;
  }
}
.welcome .row .txt p {
  font-family: "Monsterrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 430px) {
  .welcome .row .txt p {
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    left: 0px;
  }
}
.welcome .row .txt .dugmici {
  display: flex;
  margin-top: 50px;
  position: relative;
  right: 20px;
}
@media (max-width: 430px) {
  .welcome .row .txt .dugmici {
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
  }
}
@media (max-width: 868px) {
  .welcome .row .txt .dugmici {
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }
}
.welcome .row .txt .dugmici button {
  margin: 0 2px 0 30px;
  padding: 10px 20px !important;
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
}
@media (max-width: 430px) {
  .welcome .row .txt .dugmici button {
    margin-bottom: 30px;
  }
}
@media (max-width: 868px) {
  .welcome .row .txt .dugmici button {
    margin-bottom: 30px;
  }
}

/* BLOG */

.blog-poc{
  margin: 15% auto !important;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 30% auto;
}

@media (max-width: 868px) {
  .blog {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
}

@media (max-width: 430px) {
  .blog {
    margin-top: 200px;
  }
}

@media (max-width: 430px) {
  .blog .row {
    max-width: 100%;
    flex-direction: column;
    align-items: baseline;
  }
}

@media (max-width: 868px) {
  .blog .row {
    max-width: 100%;
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .blog .row {
    max-width: 100%;
    padding-right: 0;
  }
}

.blog .row article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  transition: padding ease-in-out 0.5s;
}

.blog .row article:hover{
  padding: 0 0 50px 0 ;
  cursor: pointer;
}

@media (max-width: 430px) {
  .blog .row article {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  .blog .row article {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .blog .row article {
    padding: 0;
    margin: 70px;
    width: 33%;
  }
}
.blog .row article img {
  width: 496px;
  height: 204px;
}
@media (max-width: 430px) {
  .blog .row article img {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  .blog .row article img {
    max-width: 100%;
  }
}
.blog .row article p {
  padding-top: 15px;
  font-family: "Kanit", sans-serif;
}
.blog .row article p:first-of-type {
  color: rgb(200, 48, 47);
}
.blog .row article p:last-of-type {
  margin-bottom: 52px;
}
.blog .row article h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.blog .row article hr {
  margin-top: 10px;
  position: relative;
  left: 12px;
  width: 320px;
  border: 1px solid rgb(112, 112, 112);
  opacity: 0.5;
}
.blog .row article button {
  position: relative;
  left: 110px;
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
}
.blog .row article button:hover {
  background-color: rgb(200, 48, 47);
  border-color: rgb(200, 48, 47);
}
.blog div {
  padding: 10px 25px;
}
.blog div .sec {
  padding: 10px 50px;
  margin: 50px 50px 0;
  background-color: rgb(10, 30, 85);
  color: white;
}
@media (max-width: 430px) {
  .blog div .sec {
    margin-top: 80px;
    margin-left: 150px;
  }
}
@media (max-width: 868px) {
  .blog div .sec {
    margin-top: 80px;
  }
}
.blog div .postovi {
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
}
.blog h2 {
  text-align: center;
}

/* SINGLE-BLOG page */

/* Back to Blog button on single blog page */
.blog-button {
  margin: 35% 9% 0;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.blog-button .txt {
  color: rgb(10, 30, 85) !important;
  font-size: 28px;
  font-family: "Great Vibes", cursive;
}
@media (max-width: 430px) {
  .blog-button {
    max-width: 100%;
    margin-top: 170%;
    margin-left: 10%;
  }
}
@media (max-width: 868px) {
  .blog-button {
    max-width: 100%;
    margin-top: 100%;
    margin-left: 10%;
  }
}
.blog-button .left-arrows {
  color: rgb(200, 48, 47);
  margin-right: 5px;
  font-size: 35px;
  font-weight: bold;
}

/* Blog post on single page */

.blogpost .post {
  margin: 2% auto 5%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .blogpost .post {
    max-width: 100%;
    margin-top: 10%;
    margin-left: 10%;
  }
}
@media (max-width: 868px) {
  .blogpost .post {
    max-width: 100%;
    margin-left: 10px;
  }
}
@media (max-width: 430px) {
  .blogpost .post .row {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  .blogpost .post .row {
    max-width: 100%;
  }
}
.blogpost .post .row .content {
  padding-right: 15%;
}
@media (max-width: 868px) {
  .blogpost .post .row .content {
    max-width: 50%;
    padding: 0;
    margin-left: 20px;
  }
}
.blogpost .post .row .content p {
  max-width: 75%;
  margin: 40px 0;
  font-family: "Monsterrat", sans-serif;
  font-size: 20px;
}
.blogpost .post .row .content h4 {
  max-width: 75%;
  color: rgb(10, 30, 85);
  font-size: 28px;
  font-weight: 600;
  font-family: "Monsterrat", sans-serif;
}
.blogpost .post .row .content img {
  max-width: 80%;
}
.blogpost .post .row .blog {
  padding-left: 15%;
}
@media (max-width: 430px) {
  .blogpost .post .row .blog {
    max-width: 85%;
    padding: 0;
    margin-top: 20%;
    margin-left: -5%;
  }
}
@media (max-width: 868px) {
  .blogpost .post .row .blog {
    max-width: 50%;
    padding: 0;
    margin-right: 10px;
  }
}
.blogpost .post .row .blog hr {
  border: 1px solid rgb(10, 30, 85);
  opacity: 0.5;
}

/* Next & Back buttons on single page */
.buttons {
  max-width: 30%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .buttons {
    max-width: 100%;
    margin-left: -2%;
    margin-top: -10%;
  }
}
@media (max-width: 868px) {
  .buttons {
    max-width: 50%;
    margin-left: -2%;
    margin-top: -10%;
  }
}
.buttons button {
  background-color: white;
  border: none;
  color: rgb(10, 30, 85);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Monsterrat", sans-serif;
}
.buttons button .back-button {
  position: relative;
  right: 20%;
}
.buttons button .arrows {
  color: #ff0000;
  font-size: 35px;
  position: relative;
  right: 12%;
  top: 10%;
}
.buttons button .arrows ion-icon:first-of-type {
  position: relative;
  left: 40%;
}

/* ABOUT Restoran i Suha Marina pages */

.about {
  margin: 30% auto 10%;
  max-width: 80%;
}
@media (max-width: 430px) {
  .about {
    max-width: 100% !important;
    margin-top: 90% !important;
  }
}
@media (max-width: 868px) {
  .about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about {
    margin: 30% auto;
  }
}
@media (min-width: 2260px) {
  .about{
    margin-top: 35%;
  }
}
.about article {
  position: relative;
}
@media (max-width: 430px) {
  .about article {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  .about article {
    max-width: 100%;
    display: flex;
    flex-direction: column !important;
    padding: 5%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article {
    max-width: 95%;
  }
}
.about article .slika {
  position: absolute;
  left: 50%;
}
@media (max-width: 868px) {
  .about article .slika {
    width: 100%;
    margin: 0 !important;
    padding: 5%;
    position: relative;
    left: 0;
  }
}
@media (max-width: 430px) {
  .about article .slika {
    max-width: 100%;
    margin: 0 !important;
    position: relative;
    left: 0;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article .slika {
    width: 60%;
    height: auto;
    display: block;
    margin-top: 120px;
  }
}
@media (max-width: 430px) {
  .about article .slika img {
    max-width: 100%;
    margin: 0 !important;
    padding-bottom: 70px;
  }
}
@media (max-width: 868px) {
  .about article .slika img {
    max-width: 100%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article .slika img {
    width: 70%;
    height: auto;
    display: block;
  }
}
.about article .text {
  margin-top: 30px;
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article .text {
    padding: 0 80px;
  }
}
@media (max-width: 868px) {
  .about article .text {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .about article .text {
    padding-left: 0px;
    max-width: 100%;
  }
}
.about article .text p {
  font-family: "Monsterrat", sans-serif;
  font-size: 15px;
}
@media (max-width: 430px) {
  .about article .text p {
    margin-top: -20px;
    margin-left: 15px;
  }
}
@media (max-width: 868px) {
  .about article .text p {
    margin-left: 15px;
  }
}
.about article:last-of-type {
  margin-top: 90px;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 868px) {
  .about article:last-of-type {
    max-width: 100%;
    margin-top: 0;
    padding: 5%;
  }
}
@media (max-width: 430px) {
  .about article:last-of-type {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -1%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article:last-of-type {
    display: flex;
  }
}
.about article:last-of-type .text {
  margin-top: 150px;
  margin-left: -30px;
}
@media (max-width: 868px) {
  .about article:last-of-type .text {
    width: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 430px) {
  .about article:last-of-type .text {
    width: 100%;
    margin: 0 auto 200px;
    padding: 0 !important;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article:last-of-type .text {
    width: 45%;
  }
}
@media (max-width: 430px) {
  .about article:last-of-type .slike {
    display: flex;
    flex-direction: column;
    margin-top: -40%;
  }
}
@media (max-width: 868px) {
  .about article:last-of-type .slike {
    max-width: 100%;
    display: flex;
    padding: 2%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article:last-of-type .slike {
    max-width: 100%;
    margin-left: 5%;
  }
}
.about article:last-of-type .slike img {
  max-width: 350px;
  margin-left: 8px;
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .about article:last-of-type .slike img {
    max-width: 100%;
  }
  .about article:last-of-type .slike img:last-of-type {
    position: relative;
    top: 60px;
  }
}
@media (max-width: 430px) {
  .about article:last-of-type .slike img {
    margin-left: 10px;
  }
}
.about article:last-of-type .slike img:last-of-type {
  position: relative;
  top: 60px;
}

/* Slike Restoran i Suha Marina */


@media (max-width: 430px) {
  .images {
    max-width: 400px;
    margin: 300px 0 50px;
  }
}
@media (max-width: 868px) {
  .images {
    max-width: 100%;
    margin: 300px 0 50px;
  }
}
.images .row {
  margin: 200px auto 100px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .images .row {
    margin-left: 150px;
  }
}
@media (max-width: 868px) {
  .images .row {
    max-width: 100%;
    margin: auto;
  }
}
.images .row img {
  max-width: 500px;
  max-height: 360px;
  margin-bottom: 50px;
  margin-left: 20px;
}
@media (max-width: 868px) {
  .images .row img {
    max-width: 100%;
    margin: 10px auto;
  }
}

/* Dugme za redirekciju na Restoran i Suhu Marinu  */

.ponuda {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ponuda h2 {
  text-align: center;
}
.ponuda button {
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
}


/* Usluge Suha Marina */

.usluge {
  max-width: 1920px;
  background-color: rgb(10, 30, 85);
  margin-top: 200px;
}
@media (max-width: 430px) {
  .usluge {
    max-width: 100%;
    margin-top: 400px;
  }
}
@media (max-width: 868px) {
  .usluge {
    max-width: 100%;
  }
}
.usluge h2 {
  color: white !important;
  text-align: center;
  padding-top: 93px;
}
.usluge article {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 430px) {
  .usluge article {
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  .usluge article {
    max-width: 100%;
    margin: 10px auto;
  }
}
.usluge article .card {
  margin-left: 50px;
  padding: 0;
  border-radius: 0;
}
@media (max-width: 430px) {
  .usluge article .card {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 868px) {
  .usluge article .card {
    max-width: 100%;
    margin-left: 10 px;
    margin-bottom: 50px;
  }
}
.usluge article .card .card-body {
  padding: 28px 36px 39px;
  text-align: center;
  font-family: "Monsterrat", sans-serif;
  color: rgb(10, 30, 85);
}
.usluge article .card .card-body h5 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 14px;
}
.usluge article .card .card-body p {
  font-style: 18px;
}
.usluge article .card img {
  height: 320px;
}
.usluge article:last-of-type {
  padding-bottom: 100px;
}

a .link{
  font-family: "Monsterrat", sans-serif;
  padding: 10px 20px;
  position: relative;
  left: 47%;
  z-index: 9999;
  color: white;
  background-color: rgb(200, 48, 47);
  border-color: rgb(200, 48, 47);
}



/* Maslinovo ulje page */

.olives {
  margin: 30% auto 10%;
}
@media (max-width: 430px) {
  .olives {
    max-width: 100%;
    margin: 100% auto;
  }
}
@media (max-width: 868px) {
  .olives {
    max-width: 100%;
    margin: 60% auto;
  }
}
.olives p {
  font-size: 22px;
  font-family: "Monsterrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}
.olives .container {
  display: flex;
}
@media (max-width: 430px) {
  .olives .container {
    max-width: 100%;
    display: block;
  }
}
.olives .container div {
  max-width: 32%;
  margin: 15px;
}
@media (max-width: 430px) {
  .olives .container div {
    max-width: 100%;
  }
}
.olives .container div img {
  max-width: 100%;
  margin: 10px;
}
@media (max-width: 430px) {
  .olives .container div img {
    max-width: 100%;
  }
}




/* FOOTER */


footer {
  background-image: url("/img/footer-bg.png");
  padding: 50px 0 130px;
}
@media (max-width: 430px) {
  footer {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  footer {
    max-width: 100%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  footer {
    max-width: 100%;
  }
}
@media (min-width: 2260px) {
  footer {
    width: 100%;
  }
}

  @media (min-width: 2260px) {
    .fotpage {
      width: 100%;
      height: 1440px;
    }
  
}
footer img {
  width: 126px;
  height: 78px;
  opacity: 100%;
}
footer h2 {
  color: white !important;
  text-align: center;
  margin-top: 50px !important;
}
footer .container {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .text img {
  width: 280px;
  height: 165px;
}
footer .container .text p {
  font-family: "Monsterrat", sans-serif;
  color: white;
}
footer .container .text p:first-of-type {
  margin-top: 40px;
}
footer .container .forma form {
  font-family: "Monsterrat", sans-serif;
  font-size: 14px;
}
footer .container .forma form label {
  color: white;
}
footer .container .forma form input, footer .container .forma form textarea {
  background-color: #fff;
  opacity: 58%;
  border-radius: 0 !important;
}
footer .container .forma a {
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
  background-color: rgb(200, 48, 47);
  margin-top: 38px;
  text-align: center;
  position: relative;
  left: 125px;
  border-radius: 0 !important;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .background-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .text, .image {
    flex: 1;
  }
}