@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@media (min-width: 1024px) and (max-width: 1440px) {
  .background-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .text, .image {
    flex: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2 {
  font-size: 80px !important;
  color: rgb(10, 30, 85) !important;
  font-family: "Great Vibes", cursive;
  margin-bottom: 80px !important;
}

a {
  color: white !important;
  text-decoration: none !important;
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
}

header {
  font-family: "Monsterrat", sans-serif;
  font-size: 18px;
}
header .banner-wrapper {
  position: absolute;
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  header .banner-wrapper {
    max-width: 100%;
  }
}
header .banner-wrapper img {
  width: 100%;
  display: block;
}
@media (max-width: 430px) {
  header .banner-wrapper img {
    max-width: 100%;
    height: 800px;
  }
}
@media (max-width: 868px) {
  header .banner-wrapper img {
    width: 100%;
    height: 800px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  header .banner-wrapper img {
    max-width: 100%;
  }
}
header .banner-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  opacity: 74%;
}
header nav .container {
  z-index: 999999;
  margin-top: 15px;
}
header nav .container img {
  width: 126px;
  height: 78px;
  opacity: 100%;
}

.hero {
  z-index: 9999;
  position: relative;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media (max-width: 430px) {
  .hero {
    margin-top: 20%;
  }
}
@media (max-width: 868px) {
  .hero {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  .hero {
    margin-top: 20%;
  }
}
.hero .text-container {
  max-width: 1010px;
  text-align: center;
  color: white;
}
.hero .text-container h1 {
  font-family: "Great Vibes", cursive;
  font-size: 89px;
}
@media (max-width: 430px) {
  .hero .text-container h1 {
    font-size: 60px;
  }
}
.hero .text-container p {
  font-size: 22px;
  font-family: "Monsterrat", sans-serif;
}
.hero button {
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
  background-color: rgb(200, 48, 47);
  border-color: rgb(200, 48, 47);
  margin-top: 20px;
}

footer {
  margin-top: 100px;
  background-image: url("/img/footer-bg.png");
  padding: 50px 0 130px;
}
@media (max-width: 430px) {
  footer {
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  footer {
    max-width: 100%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1530px) {
  footer {
    max-width: 100%;
  }
}
footer img {
  width: 126px;
  height: 78px;
  opacity: 100%;
}
footer h2 {
  color: white !important;
  text-align: center;
  margin-top: 50px !important;
}
footer .container {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .text img {
  width: 280px;
  height: 165px;
}
footer .container .text p {
  font-family: "Monsterrat", sans-serif;
  color: white;
}
footer .container .text p:first-of-type {
  margin-top: 40px;
}
footer .container .forma form {
  font-family: "Monsterrat", sans-serif;
  font-size: 14px;
}
footer .container .forma form label {
  color: white;
}
footer .container .forma form input, footer .container .forma form textarea {
  background-color: #fff;
  opacity: 58%;
  border-radius: 0 !important;
}
footer .container .forma a {
  padding: 10px 50px;
  margin: 0px 50px;
  background-color: rgb(10, 30, 85);
  color: white;
  background-color: rgb(200, 48, 47);
  margin-top: 38px;
  text-align: center;
  position: relative;
  left: 125px;
  border-radius: 0 !important;
}/*# sourceMappingURL=globals.css.map */