@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$fontFamily: "Monsterrat", sans-serif;
$fontSecond : "Great Vibes", cursive;
$fontThird: "Kanit", sans-serif;
$black:black;
$date:rgba(200, 48, 47, 1);
$headers:rgba(10, 30, 85, 1);
$white: white;
$breakpoint-laptop-small: 1024px;
$breakpoint-laptop-large: 1440px;